.freind-screen{
    padding: 0px var(--horizontal-space);
}
.friend-screen__channel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    color: rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin: 30px 0px;
}

.friend-screen__friend__name{
    font-weight: 400;
}



.friend-screen__friend__column:last-child{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
}

.friend-screen__friend__column i{
    margin-left: 5px;
}